# --------------------
# Dominios DuckDNS
# --------------------

ha.rvf.duckdns.org {
    encode gzip
    reverse_proxy homeassistant:8123
}

plex.rvf.duckdns.org {
    encode gzip
    reverse_proxy plex:32400
}

riven.rvf.duckdns.org {
    encode gzip
    reverse_proxy riven-frontend:3000
}

jellyfin.rvf.duckdns.org {
    encode gzip
    reverse_proxy jellyfin:8096
}

overseerr.rvf.duckdns.org {
    encode gzip
    reverse_proxy overseerr:5055
}

radarr.rvf.duckdns.org {
    encode gzip
    reverse_proxy radarr:7878
}

sonarr.rvf.duckdns.org {
    encode gzip
    reverse_proxy sonarr:8989
}

prowlarr.rvf.duckdns.org {
    encode gzip
    reverse_proxy prowlarr:9696
}

portainer.rvf.duckdns.org {
    encode gzip
    reverse_proxy portainer:9000
}

pihole.rvf.duckdns.org {
    encode gzip
    reverse_proxy pihole:80
}

rvf.duckdns.org {
    respond "OK RVF" 200
}
